.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 9;
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.mainsection {
    padding: 40px;
    width: 100vw;
}

.socialIcons {
    display: flex;
    width: 100vw;
    align-items: center;
    color: #862f4c;
}

.link {
    color: #862f4c;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.text {
    color: #862f4c;
}

p {
    color: #862f4c;
}

.email {
    margin-left: 10px;
}

.font-colour {
    color: #862f4c;
}

.formdiv {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    height: 250px;
    background-color: #862f4c;
    align-items: center;
}

.inputfields {
    gap: 10px
}

.form {
    margin-bottom: 20px;
}

input {
    background-color: #862f4c;
    border: none;
    width: 250px;
    text-indent: 10px;
}

::placeholder {
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

.subscribeHeader {
    font-family: Palatino,
        URW Palladio L,
        serif;
    color: white;
    font-size: 60px;
}

.form-select {
    background-color: #862f4c;
    border: none;
    color: rgba(255, 255, 255, 0.638);
    font-size: 40px;
    width: 300px;
    text-decoration: underline;
}

.country-options {
    font-size: 20px;
}

.sign-up-btn {
    background-color: #862f4c;
    border: none;
    color: white;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
}


.tableSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    font-size: 14px;
}

.tableContainer {
    width: 90%;
    padding-bottom: 40px;
    margin-top: 40px;
}

.nav-item {
    color: #862f4c;
    font-size: 20px;
}

.navbar {
    color: #862f4c;
}

.tbodyCard {
    display: flex;
    flex-wrap: wrap;
}

.card {
    color: #862f4c;
    border: none;
    width: 250px;
    height: fit-content;
    font-weight: lighter;
    margin: 10px;
    border-radius: 0;
    padding: 0;
}

td.card-title {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    border: none;
    background: #862f4c;
    color: white;
    height: 100px;
    padding: 15px;
}

.card-text {
    padding: 10px;
}

td.card-img-top {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    height: fit-auto;
    align-items: center;
    justify-items: center;
}

.recipeImage {
    max-width: 250px;
}

.seemore {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 30px solid transparent;
    border-bottom: 30px solid white;
    border-right: 30px solid white;
    font-size: 40px;
}

.showMoreDots {
    position: fluid;
    margin-top: 15px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.227);
    cursor: pointer;
}

/* table filter section */

.tableFilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100VW;
    height: 100%;
}

.allergiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 100%;
    padding: 10px;
}

.titleDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100VW;
    height: 100%;
    font-size: 30px;
    padding: 5px;
    margin: 0;
}

.allergyTitle {
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}

.alleryTypeDiv {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #862f4c5f;
    border-radius: 5px;
}

.allergyType {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    height: auto;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 100px;
    font-size: 12px;
    gap: 5px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 100%;
    vertical-align: middle;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search-input {
    width: 300px;
}

.search-btn {
    background-color: #862f4c;
    color: white;
    border: none;
}

.search-btn:hover {
    background-color: #862f4cbd;
}

.search-input::placeholder {
    font-size: 20px;
    text-decoration: none;
}

.dropDown {
    background-color: #862f4c;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 5px;
}